// colors
$primary: #727cf5;
$sec: #313a46;
$third: #37404a;
$dashBg: #333a40;

.dashBg {
  background-color: $dashBg;
}
.sec {
  background-color: $sec;
}
.third {
  background-color: $third;
}

.z-index-99 {
  z-index: 99;
}

// $secondary: #313a46;

// enabled and disabled options
$enable-caret: false;

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

@import "../node_modules/bootstrap/scss/variables";

// 2. Include any default variable overrides here

// form

// thumbnail
$thumbnail-border-radius: 50%;

// navbar
$navbar-dark-toggler-border-color: transparent;
$navbar-light-toggler-border-color: transparent;
$navbar-toggler-focus-width: 0;
$navbar-toggler-padding-x: 0;
$navbar-toggler-padding-y: 0;

// nav-link
$nav-link-hover-color: white;

// left panel styles
.panel-height {
  height: calc(100vh - 58px);
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: $secondary;
  border-radius: 5px;
}

// caret
// $caret-width: 0;

@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

$utilities: map-merge(
  $utilities,
  (
    "width": (
      property: width,
      class: w,
      values: (
        25: 2rem,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto,
      ),
    ),
    "height": (
      property: height,
      class: h,
      values: (
        25: 2rem,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto,
      ),
    ),
  )
);

$custom-theme-colors: (
  "sec": #313a46,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: map-merge(
  $theme-colors-rgb,
  (
    "black": to-rgb($black),
    "white": to-rgb($white),
    "body": to-rgb($body-color),
  )
);

$utilities-text-colors: map-loop(
  $utilities-colors,
  rgba-css-var,
  "$key",
  "text"
);
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");

// 3. Include remainder of required Bootstrap stylesheets

@import "../node_modules/bootstrap/scss/bootstrap";
